Importing Libraries

In [41]:
#importing relevant libraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

**Data collection and analysis**

This dataset is taken from kaggle. It contains the data on females for different parameters & whether they have diabetes or not.

dataset link : https://www.kaggle.com/datasets/mathchi/diabetes-data-set

In particular, all patients here are females at least 21 years old of Pima Indian heritage.

Pregnancies: Number of times pregnant

Glucose: Plasma glucose concentration a 2 hours in an oral glucose 

tolerance test

BloodPressure: Diastolic blood pressure (mm Hg)

SkinThickness: Triceps skin fold thickness (mm)

Insulin: 2-Hour serum insulin (mu U/ml)

BMI: Body mass index (weight in kg/(height in m)^2)

DiabetesPedigreeFunction: Diabetes pedigree function

Age: Age (years)

Outcome: Class variable (0 or 1)
here, label 0 representes "Non diabetic" & 1 represents "Diabetic"

In [2]:
diabetes_raw = pd.read_csv("/content/drive/MyDrive/Data/diabetes.csv")

In [3]:
diabetes_raw.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
diabetes_raw.shape

(768, 9)

In [6]:
diabetes_raw.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
diabetes_raw.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164



1.   The above result shows us that , diabetic people have more glucose level comparing to non-diabetic people.
2.   Same goes with Blood pressure level

In [9]:
#separating the labels from data
X = diabetes_raw.drop(columns= 'Outcome', axis = 1)
Y = diabetes_raw['Outcome']

In [12]:
print(X.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age
0                     0.627   50
1                     0.351   31
2                     0.672   32
3                     0.167   21
4                     2.288   33

In [13]:
print(Y.head())

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

Now let's standardize the data for Ml model to give us better predictions.

In [14]:
#instantiating StandardScaler
scaler = StandardScaler()

In [18]:
#fit & Transform the data
standardized_X = scaler.fit_transform(X)
standardized_X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [22]:
X = standardized_X
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

**Train-Test split**

In [25]:
X_train,X_test, Y_train, Y_test = train_test_split(X,Y, train_size= 0.8, stratify=Y,random_state= 2)

In [26]:
print(X.shape, X_train.shape, X_test.shape)
print(Y.shape, Y_train.shape, Y_test.shape)

(768, 8) (614, 8) (154, 8)
(768,) (614,) (154,)

**Model training**

In [30]:
classifier = svm.SVC(kernel='linear')

In [31]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

**Model Evaluation**

In [35]:
#accuracy score on training data:
X_train_predictions = classifier.predict(X_train)
train_accuracy = accuracy_score(X_train_predictions,Y_train)
print('Training Accuracy: ',train_accuracy)

Training Accuracy:  0.7866449511400652

Now we need our model to predict on test data & evaluate it on it .

In [36]:
X_test_predictions = classifier.predict(X_test)
test_accuracy = accuracy_score(X_test_predictions,Y_test)
print('Test Accuracy: ',test_accuracy)

Test Accuracy:  0.7727272727272727

Now, that we have our accuracies on train & test - we can see ,our model is not overfitted.

Lets build the prediction system on this!!

In [42]:
#lets pick one row of input data from our dataset as a list( exculding the label data as that needs to be predicted by system):

input_data = (1,85,66,29,0,26.6,0.351,31)
#converting it to a numpy array & reshaping it for the model to understand it as 1 record as it was trained on multiple records
input_data_reshaped = np.asarray(input_data).reshape(1,-1)
#standardizing the values as the training happened on standardized values- need to perform the same for our input data
input_data_reshaped_std = scaler.transform(input_data_reshaped)

#predict the label
pred = classifier.predict(input_data_reshaped_std)

if (pred[0] == 1):
  print('This person is diabetic.')
else:
  print('This person is non-diabetic.')

This person is non-diabetic.